@model Branch
@{
    ViewData["Title"] = "AddBranchTracks";
    List<Track> tracks = ViewBag.tracks as List<Track>;
    //SelectList alltracks = new SelectList(tracks, "Id", "Name");
    SelectList alltracks = tracks != null ? new SelectList(tracks, "Id", "Name") : new SelectList(new List<Track>(), "Id", "Name");

    List<Instructor> instructors = ViewBag.instructors as List<Instructor>;
   // SelectList allinstructors = new SelectList(instructors, "Id", "Fname");
    SelectList allinstructors = instructors != null ? new SelectList(instructors, "Id", "Fname") : new SelectList(new List<Instructor>(), "Id", "Fname");

}

<h1>AddBranchTracks</h1>

