@model Track
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post">

    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-4 w-25" >Add</button>

</form>
<a class="btn btn-info mt-2 w-25" href="/Track/Index">Back</a>



